@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Youtube</h1>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-4 mb-3">
            <div class="card text-white bg-success" style="max-width: 20rem;">
                <img src="image/music.jpg" alt="Please load image" width="" height="" />
                <div class="card-header">MUSIC</div>
                <div class="card-body">
                    <h4 class="card-title">Music Is Life.</h4>
                    <p class="card-text">
                        "Music Is Not What You Think, It's What You Feel.
                        When Someone Asks You To Listen To A Song,
                        It's Because The Lyrics Mean Everything
                        They're Trying To Say."
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-4 mb-3">
            <div class="card bg-light" style="max-width: 20rem;">
                <img src="image/vlog.jpg" alt="Please load image" width="" height="" />
                <div class="card-header">AESTHETIC CONTENT IDEAS</div>
                <div class="card-body">
                    <h4 class="card-title">Daily Vlogs</h4>
                    <p class="card-text">
                        "Note To Self,
                        Trust Yourself And Do Your Best!
                        You Are Strong And Capable Of Anything."
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-4 mb-3">
            <div class="card text-white bg-warning" style="max-width: 20rem;">
                <img src="image/games.jpg" alt="Please load image" width="" height="" />
                <div class="card-header">GAMING</div>
                <div class="card-body">
                    <h4 class="card-title">Play Games</h4>
                    <p class="card-text">
                        "I Dream Of A Better World Where
                        I Can Play Video Games, Failure Doesn't Mean
                        The Game Is Over, It Means Try Again With Experience."
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-4 mb-3">
            <div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
                <img src="image/animals.jpg" alt="Please load image" width="" height="" />
                <div class="card-header">ANIMALS</div>
                <div class="card-body">
                    <h4 class="card-title">May The Forest Be With You</h4>
                    <p class="card-text">
                        "An Animal's Eyes Have The Power
                        To Speak A Great Language."
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-4 mb-3">
            <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
                <img src="image/treanding.jpg" alt="Please load image" width="" height="" />
                <div class="card-header">TRENDING</div>
                <div class="card-body">
                    <h4 class="card-title">Robots ... I Think That Is A Hot Topic.</h4>
                    <p class="card-text">
                        "Interestingly, Human Irrationality Is A
                        Hot Topic In Economics At The Moment.
                        Behavioural Economics It's Called,
                        On The Cusp Of Economics And Psychology."
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
